{{ if .Site.Data.content.Profile }}
<div id="profile" class="section">
    <div class="section__heading">
        <h2 class="section__title">Profil</h2>
    </div>
    <div class="section__content">
        <p>{{.Site.Data.content.Profile | safeHTML }}</p>
    </div>
</div>
{{ end }}
